[submodule "vendor/integrity-email"]
	path = vendor/integrity-email
	url = git://github.com/foca/integrity-email.git
[submodule "vendor/sinatra-ditties"]
	path = vendor/sinatra-ditties
	url = git://github.com/foca/sinatra-ditties.git
